<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Secret...</title>
        <link rel="stylesheet" href="static/css/styles.css">
    </head>
    <body>
        <header>
            <button class="back_button"><a href="http://127.0.0.1:5000">Back</a></button>
        </header>
        <div class="secret_box">
            <h1 id="secret_title">Welcome to the secret page... <br>You found us, we're still developing! &#x1f47b;</h1>
        </div>
    </body>
</html>