<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>HJSS Homepage</title>
        <link rel="stylesheet" href="static/css/styles.css">
    </head>
    <body>
        <header>
            <div class="topnav">
                <a class="active" href="http://127.0.0.1:5000">Home</a>
                <a class="option" href="http://127.0.0.1:5000/login">Login</a>
                <a class="option" href="http://127.0.0.1:5000/register">Register</a>
                <a class="option" href="http://127.0.0.1:5000/timetable">Timetable</a>
                <hr>
            </div>
        </header>

        <div class="row">
            <div class="column">
                <img src="/static/images/pool.img" alt="Swimming Pool" width="100%"">
            </div>
            <div class="column">
                <img src="/static/images/pool2_1.avif" alt="Swimming Pool" width="100%">
            </div>
            <div class="column">
                <img src="/static/images/pool3.jpg" alt="Swimming Pool" width="100%">
            </div>
        </div>
        
        <h1 class="title"> Hatfield Junior Swimming School</h1>

        <p><i> Welcome to the HJSS Homepage!</i></p>
        <p>The Hatfield Junior Swimming school does grades 1-5 lessons for pupils aged 4-11. There are also lane swim sessions and family fun sessions! Navigate to the Timetable section for further details.</p>

        <h2>Grades and Programmes</h2>
        <p>There are grades ranging from 1 to 5 for pupils aged from 4 to 11. Pupils will be assessed by a coach when they first start lessons to see which grade they should start at! New swimmers will start from grade 1. We do other programmes for older service users such as Aqua Aerobics for over 60s and SwimDance for 18+. For more information on our programmes, check your emails once registered!</p>

        <div class="flex_container">
            <div class="flex_child contact_box">
                <h2>Contact Us:</h2>
                <p class="contact_text">Email: <a href="mailto:support@hjss.com" class="email" target="_blank">support@hjss.com</a></p>
                <p class="contact_text">Tel No: <a href="Tel: 123-456-7890" class="phone_num" target="_blank">123-456-7890</a></p>
                <p class="contact_text">Address: <a href="https://www.google.com/maps?sca_esv=16656ab4fac410c3&rlz=1CAXSDZ_enGB1173&sxsrf=AE3TifOdfQrwQ9ON3aU5J0YdzJ-VQabutQ:1754395035961&biw=1669&bih=803&dpr=1.15&um=1&ie=UTF-8&fb=1&gl=uk&sa=X&geocode=KfnfzI7Jq3dIMXl0RVwVXiac&daddr=Tickford+St,+Newport+Pagnell+MK16+9BG" target="_blank">Tickford St, Newport Pagnell MK16 9BG</a></p>
            </div>
            <div class="flex_child announcements_box">
                <h2>Announcements:</h2>
                <a href="http://127.0.0.1:5000/secret" alt="Hidden Pumpkin Event Link"><img class="pumpkin_image" src="/static/images/pumpkin1.png" alt="pumpkin"></a>
                <p class="announcements_text">1st September - 1st November: Halloween Event! <br>Click the pumpkin for more info!</p>
                <p class="small_print">Tickets subject to availability.</p>
            </div>
        </div>

    </body>

</html>






