<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>HJSS Homepage</title>
        <link rel="stylesheet" href="static/css/styles.css">
    </head>
    <body>
        <header>
            <div class="topnav">
                <a class="active" href="http://127.0.0.1:5000">Home</a>
                <a class="option" href="http://127.0.0.1:5000/login">Login</a>
                <a class="option" href="http://127.0.0.1:5000/register">Register</a>
                <a class="option" href="http://127.0.0.1:5000/timetable">Timetable</a>
                <hr>
            </div>
        </header>

        <div class="row">
            <div class="column">
                <img src="/static/images/pool.img" alt="Swimming Pool" width="100%"">
            </div>
            <div class="column">
                <img src="/static/images/pool2_1.avif" alt="Swimming Pool" width="100%">
            </div>
            <div class="column">
                <img src="/static/images/pool3.jpg" alt="Swimming Pool" width="100%">
            </div>
        </div>
        
        <h1 class="title"> Hatfield Junior Swimming School</h1>




    </body>

</html>






