<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="stylesheet" href="static/css/styles.css">
    </head>
    <body>
        <header>
            <div class="topnav">
                <a class="option" href="http://127.0.0.1:5000">Home</a>
                <a class="active" href="http://127.0.0.1:5000/login">Login</a>
                <a class="option" href="http://127.0.0.1:5000/register">Register</a>
                <a class="option" href="http://127.0.0.1:5000/timetable">Timetable</a>
                <hr>
            </div>
        </header>



    </body>

</html>