<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="stylesheet" href="static/css/details.css">
    </head>
    <body>
        <header>
            <div class="topnav">
                <a class="option" href="http://127.0.0.1:5000">Home</a>
                <a class="active" href="http://127.0.0.1:5000/login">Login</a>
                <a class="option" href="http://127.0.0.1:5000/register">Register</a>
                <a class="option" href="http://127.0.0.1:5000/timetable">Timetable</a>
                <hr>
            </div>
        </header>

        <h1 class="login_title">Login</h1>
        <div class="flex_container">
            <form class="login_form" action="/submit" method="POST">
                <div class="flex_child">
                    <label for="usernameoremail">Username/Email:</label>
                    <input type="text" id="usernameoremail" value="{{usernameoremail}}"> <br>
                </div>
                <div class="flex_child">
                    <label for="pwd">Password:</label>
                    <input type="password" id="pwd"><br>
                </div>
                <div class="flex_child">
                    <label for="remember_me">Remember Me?</label>
                    <input type="checkbox" id="remember_me"><br>
                </div>
                <div class="flex_child">
                    <button class="login_button"><a href="http://127.0.0.1:5000/login/confirmation">Submit</a></button> 
                </div>
            </form>
        </div>

        <div class="flex_container2">
            <div class="flex_child">
                <p class="reg_text"><b>Need to create an account?<br>Click the Register button below.</b></p>
            </div>
            <div class="flex_child">
                <button id="register_button"><a href="http://127.0.0.1:5000/register">Register</a></button>
            </div>
        </div>
        


    </body>

</html>