<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Registration Confirmation</title>
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body>
        <div class="center_div_confirm">
            <h1>You successfully made an account! Click the button below to be sent to the Login page.</h1>
            <button class="back_button"><a href="http://127.0.0.1:5000/login">Go to Login Page</a></button>
        </div>
    </body>
</html>