<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Grade Timetable</title>
        <link rel="stylesheet" href="/static/css/timetable_grade.css">
    </head>
    <body>
        <header>
            <button class="back_button"><a href="http://127.0.0.1:5000/timetable">Back</a></button>
        </header>

        <h1 id="grade_title">Timetable by Grade</h1>
        <h2>Grade details</h2>
        <p>Pupils will be assessed when they join Hatfield Junior Swimming School. A coach will put them into the grade that they believe they will do best from being in. New swimmers start at grade 1 and progress further through the grades based on performance and completing swimming checkpoints.</p>

        <h2 class="1_title">Grade 1:</h2>
        <div class="1_timetable">
            <table class="table">
                <tr>
                    <th class="column1">Time</th>
                    <th class="column2" id="monday">Monday</th>
                    <th class="column1" id="wednesday">Wednesday</th>
                    <th class="column2" id="friday">Friday</th>
                    <th class="column1" id="saturday">Saturday</th>
                </tr>
                 <tr>
                    <td class="column1" id="2-3pm">2-3pm</td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                </tr>
                 <tr>
                    <td class="column1" id="3-4pm">3-4pm</td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                    <td class="column2"></td>
                    <td class="column1 grade1">1 - Coach A</td>
                </tr>
                 <tr>
                    <td class="column1" id="4-5pm">4-5pm</td>
                    <td class="column2 grade1">1 - Coach A</td>
                    <td class="column1"></td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                </tr>
                <tr>
                    <td class="column1" id="5-6pm">5-6pm</td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                </tr>
                 <tr>
                    <td class="column1" id="6-7pm">6-7pm</td>
                    <td class="column2"></td>
                    <td class="column1 grade1">1 - Coach A</td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                </tr>
            </table>
        </div>

        <h2 class="2_title">Grade 2:</h2>
        <div class="2_timetable">
            <table class="table">
                <tr>
                    <th class="column1">Time</th>
                    <th class="column2" id="monday">Monday</th>
                    <th class="column1" id="wednesday">Wednesday</th>
                    <th class="column2" id="friday">Friday</th>
                    <th class="column1" id="saturday">Saturday</th>
                </tr>
                <tr>
                    <td class="column1" id="2-3pm">2-3pm</td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                </tr>
                <tr>
                    <td class="column1" id="3-4pm">3-4pm</td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                </tr>
                <tr>
                    <td class="column1" id="4-5pm">4-5pm</td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                    <td class="column2 grade2">2 - Coach B</td>
                    <td class="column1"></td>
                </tr>
                <tr>
                    <td class="column1" id="5-6pm">5-6pm</td>
                    <td class="column2 grade2">2 - Coach B</td>
                    <td class="column1"></td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                </tr>
                <tr>
                    <td class="column1" id="6-7pm">6-7pm</td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                </tr>
            </table>
        </div>

        <h2 class="3_title">Grade 3:</h2>
        <div class="3_timetable">
            <table class="table">
                <tr>
                    <th class="column1">Time</th>
                    <th class="column2" id="monday">Monday</th>
                    <th class="column1" id="wednesday">Wednesday</th>
                    <th class="column2" id="friday">Friday</th>
                    <th class="column1" id="saturday">Saturday</th>
                </tr>
                <tr>
                    <td class="column1" id="2-3pm">2-3pm</td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                </tr>
                <tr>
                    <td class="column1" id="3-4pm">3-4pm</td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                </tr>
                <tr>
                    <td class="column1" id="4-5pm">4-5pm</td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                </tr>
                <tr>
                    <td class="column1" id="5-6pm">5-6pm</td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                    <td class="column2 grade3">3 - Coach C</td>
                    <td class="column1"></td>
                </tr>
                <tr>
                    <td class="column1" id="6-7pm">6-7pm</td>
                    <td class="column2 grade3">3 - Coach C</td>
                    <td class="column1"></td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                </tr>
            </table>
        </div>

        <h2 class="4_title">Grade 4:</h2>
        <div class="4_timetable">
            <table class="table">
                <tr>
                    <th class="column1">Time</th>
                    <th class="column2" id="monday">Monday</th>
                    <th class="column1" id="wednesday">Wednesday</th>
                    <th class="column2" id="friday">Friday</th>
                    <th class="column1" id="saturday">Saturday</th>
                </tr>
                <tr>
                    <td class="column1" id="2-3pm">2-3pm</td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                </tr>
                <tr>
                    <td class="column1" id="3-4pm">3-4pm</td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                </tr>
                <tr>
                    <td class="column1" id="4-5pm">4-5pm</td>
                    <td class="column2"></td>
                    <td class="column1 grade4">4 - Coach D</td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                </tr>
                <tr>
                    <td class="column1" id="5-6pm">5-6pm</td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                </tr>
                <tr>
                    <td class="column1" id="6-7pm">6-7pm</td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                    <td class="column2 grade4">4 -  Coach D</td>
                    <td class="column1"></td>
                </tr>
            </table>
        </div>

        <h2 class="5_title">Grade 5:</h2>
        <div class="5_timetable">
            <table class="table">
                <tr>
                    <th class="column1">Time</th>
                    <th class="column2" id="monday">Monday</th>
                    <th class="column1" id="wednesday">Wednesday</th>
                    <th class="column2" id="friday">Friday</th>
                    <th class="column1" id="saturday">Saturday</th>
                </tr>
                <tr>
                    <td class="column1" id="2-3pm">2-3pm</td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                    <td class="column2"></td>
                    <td class="column1 grade5">5 - Coach B</td>
                </tr>
                <tr>
                    <td class="column1" id="3-4pm">3-4pm</td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                </tr>
                <tr>
                    <td class="column1" id="4-5pm">4-5pm</td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                </tr>
                <tr>
                    <td class="column1" id="5-6pm">5-6pm</td>
                    <td class="column2"></td>
                    <td class="column1 grade5">5 - Coach B</td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                </tr>
                <tr>
                    <td class="column1" id="6-7pm">6-7pm</td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                </tr>
            </table>
        </div>
    </body>

</html>