<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Coach Timetable</title>
        <link rel="stylesheet" href="/static/css/timetable_coach.css">
    </head>
    <body>
        <header>
            <button class="back_button"><a href="http://127.0.0.1:5000/timetable">Back</a></button>
        </header>

        <h1 id="coach_title">Timetable by Coach</h1>
        <h2 class="coach_A_title">Coach A:</h2>
        <div id="coachA_timetable">
            <table class="table">
                <tr>
                    <th class="column1">Time</th>
                    <th class="column2" id="monday">Monday</th>
                    <th class="column1" id="wednesday">Wednesday</th>
                    <th class="column2" id="friday">Friday</th>
                    <th class="column1" id="saturday">Saturday</th>
                </tr>
                <tr>
                    <td class="column1" id="2-3pm">2-3pm</td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                </tr>
                <tr>
                    <td class="column1" id="3-4pm">3-4pm</td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                    <td class="column2"></td>
                    <td class="column1 grade1">1 - Coach A</td>
                </tr>
                <tr>
                    <td class="column1" id="4-5pm">4-5pm</td>
                    <td class="column2 grade1">1 - Coach A</td>
                    <td class="column1"></td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                </tr>
                <tr>
                    <td class="column1" id="5-6pm">5-6pm</td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                </tr>
                <tr>
                    <td class="column1" id="6-7pm">6-7pm</td>
                    <td class="column2"></td>
                    <td class="column1 grade1">1 - Coach A</td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                </tr>
            </table>
        </div>

        <h2 class="coachB_title">Coach B:</h2>
        <div class="coachB_timetable">
            <table class="table">
                <tr>
                    <th class="column1">Time</th>
                    <th class="column2" id="monday">Monday</th>
                    <th class="column1" id="wednesday">Wednesday</th>
                    <th class="column2" id="friday">Friday</th>
                    <th class="column1" id="saturday">Saturday</th>
                </tr>
                <tr>
                    <td class="column1" id="2-3pm">2-3pm</td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                    <td class="column2"></td>
                    <td class="column1 grade5">5 - Coach B</td>
                </tr>
                <tr>
                    <td class="column1" id="3-4pm">3-4pm</td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                </tr>
                <tr>
                    <td class="column1" id="4-5pm">4-5pm</td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                    <td class="column2 grade2">2 - Coach B</td>
                    <td class="column1"></td>
                </tr>
                <tr>
                    <td class="column1" id="5-6pm">5-6pm</td>
                    <td class="column2 grade2">2 - Coach B</td>
                    <td class="column1 grade5">5 - Coach B</td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                </tr>
                <tr>
                    <td class="column1" id="6-7pm">6-7pm</td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                </tr>
            </table>
        </div>
                
        <h2 class="coachC_title">Coach C:</h2>
        <div class="coachC_timetable">
            <table class="table">
                <tr>
                    <th class="column1">Time</th>
                    <th class="column2" id="monday">Monday</th>
                    <th class="column1" id="wednesday">Wednesday</th>
                    <th class="column2" id="friday">Friday</th>
                    <th class="column1" id="saturday">Saturday</th>
                </tr>
                <tr>
                    <td class="column1" id="2-3pm">2-3pm</td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                </tr>
                <tr>
                    <td class="column1" id="3-4pm">3-4pm</td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                </tr>
                <tr>
                    <td class="column1" id="4-5pm">4-5pm</td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                </tr>
                <tr>
                    <td class="column1" id="5-6pm">5-6pm</td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                    <td class="column2 grade3">3 - Coach C</td>
                    <td class="column1"></td>
                </tr>
                <tr>
                    <td class="column1" id="6-7pm">6-7pm</td>
                    <td class="column2 grade3">3 - Coach C</td>
                    <td class="column1"></td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                </tr>
            </table>

        <h2 class="coachD_title">Coach D:</h2>
        <div class="coachD_timetable">
            <table class="table">
                <tr>
                    <th class="column1">Time</th>
                    <th class="column2" id="monday">Monday</th>
                    <th class="column1" id="wednesday">Wednesday</th>
                    <th class="column2" id="friday">Friday</th>
                    <th class="column1" id="saturday">Saturday</th>
                </tr>
                <tr>
                    <td class="column1" id="2-3pm">2-3pm</td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                </tr>
                <tr>
                    <td class="column1" id="3-4pm">3-4pm</td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                </tr>
                <tr>
                    <td class="column1" id="4-5pm">4-5pm</td>
                    <td class="column2"></td>
                    <td class="column1 grade4">4 - Coach D</td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                </tr>
                <tr>
                    <td class="column1" id="5-6pm">5-6pm</td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                </tr>
                <tr>
                    <td class="column1" id="6-7pm">6-7pm</td>
                    <td class="column2"></td>
                    <td class="column1"></td>
                    <td class="column2 grade4">4 - Coach D</td>
                    <td class="column1"></td>
                </tr>
            </table>
    </body>

</html>