<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Day Timetable</title>
        <link rel="stylesheet" href="/static/css/timetable_day.css">
    </head>
    <body>
        <header>
            <button class="back_button"><a href="http://127.0.0.1:5000/timetable">Back</a></button>
        </header>

        <h1 id="day_title">Timetable by Day</h1>
        <h2 class="monday_title">Monday:</h2>

        <div class="monday_timetable">
            <table class="table">
                <tr>
                   <th class="column1">Time</th>
                   <th class="column2">Monday</th> 
                </tr>
                <tr>
                    <td class="column1 2-3pm">2-3pm</td>
                    <td class="column2"></td>
                </tr>
                <tr>
                    <td class="column1 3-4pm">3-4pm</td>
                    <td class="column2"></td>
                </tr>
                <tr>
                    <td class="column1 4-5pm">4-5pm</td>
                    <td class="column2 grade1">1 - Coach A</td>
                </tr>
                <tr>
                    <td class="column1 5-6pm">5-6pm</td>
                    <td class="column2 grade2">2 - Coach B</td>
                </tr>
                <tr>
                    <td class="column1 6-7pm">6-7pm</td>
                    <td class="column2 grade3">3 - Coach C</td>
                </tr>
            </table>

        </div>

        <h2 class="wednesday_title">Wednesday:</h2>
        <div class="wednesday_timetable">
            <table class="table">
                <tr>
                   <th class="column1">Time</th>
                   <th class="column2">Wednesday</th> 
                </tr>
                <tr>
                    <td class="column1 2-3pm">2-3pm</td>
                    <td class="column2"></td>
                </tr>
                <tr>
                    <td class="column1 3-4pm">3-4pm</td>
                    <td class="column2"></td>
                </tr>
                <tr>
                    <td class="column1 4-5pm">4-5pm</td>
                    <td class="column2 grade4">4 - Coach D</td>
                </tr>
                <tr>
                    <td class="column1 5-6pm">5-6pm</td>
                    <td class="column2 grade5">5 - Coach B</td>
                </tr>
                <tr>
                    <td class="column1 6-7pm">6-7pm</td>
                    <td class="column2 grade1">1 - Coach A</td>
                </tr>
            </table>
        </div>

        <h2 class="friday_title">Friday:</h2>
        <div class="friday_timetable">
            <table class="table">
                <tr>
                   <th class="column1">Time</th>
                   <th class="column2">Friday</th> 
                </tr>
                <tr>
                    <td class="column1 2-3pm">2-3pm</td>
                    <td class="column2"></td>
                </tr>
                <tr>
                    <td class="column1 3-4pm">3-4pm</td>
                    <td class="column2"></td>
                </tr>
                <tr>
                    <td class="column1 4-5pm">4-5pm</td>
                    <td class="column2 grade2">2 - Coach B</td>
                </tr>
                <tr>
                    <td class="column1 5-6pm">5-6pm</td>
                    <td class="column2 grade3">3 - Coach C</td>
                </tr>
                <tr>
                    <td class="column1 6-7pm">6-7pm</td>
                    <td class="column2 grade4">4 - Coach D</td>
                </tr>
            </table>
        </div>

            <h2 class="saturday_title">Saturday:</h2>
            <div class="saturday_timetable">
                <table class="table">
                    <tr>
                        <th class="column1">Time</th>
                        <th class="column2">Saturday</th> 
                    </tr>
                    <tr>
                        <td class="column1 2-3pm">2-3pm</td>
                        <td class="column2 grade5">5 - Coach B</td>
                    </tr>
                    <tr>
                        <td class="column1 3-4pm">3-4pm</td>
                        <td class="column2 grade1">1 - Coach A</td>
                    </tr>
                    <tr>
                        <td class="column1 4-5pm">4-5pm</td>
                        <td class="column2"></td>
                    </tr>
                    <tr>
                        <td class="column1 5-6pm">5-6pm</td>
                        <td class="column2"></td>
                    </tr>
                    <tr>
                        <td class="column1 6-7pm">6-7pm</td>
                        <td class="column2"></td>
                    </tr>
                </table>
            </div>   
    </body>


</html>